.logo-img{
    max-width: 4rem;
    max-height: 4rem;
    margin-left: 0;
    justify-content: left;
}

.hero-title{
    font-size: 2.125rem;
}

.hero-img{
    max-width: 50rem;
    max-height: 50rem;
}
